$accent: #009988;
$body-bg: #101010;
$body-color: #bbbbbb;
$alt-bg: #202020;
$alt-color: #f2f2f2;

.accent-color {
    color: $accent;
}

.angular-color {
    color: #dd0031;
}

.react-color {
    color: #61dafb;
}

.vue-color {
    color: #008000;
}
