body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1;
}

.main-content {
    margin-top: 40px;
}

.header {
    background: url('../../assets/images/condo2.jpg') no-repeat;
    background-size: inherit;
    background-position: center;
    min-height: 200px;
    max-height: 300px;
    padding-top: 180px;
    padding-bottom: 100px;
}

.navbar {
    background: $alt-bg;
    border-bottom: 3px solid $accent;
    top: 1.5rem;
    .navbar-nav .nav-link {
        color: $alt-color;
        page-break-after: 1rem 0.5rem;
        transition: color 0.2s ease-in;
        &.active {
            color: $accent;
        }
        &:hover:not(.active) {
            color: rgba($alt-color, 0.75);
        }
    }
}

.row {
    .skill-block {
        padding: 2.5rem 1.25rem;
        margin-bottom: 1rem;
    }
}

.properties-preview {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 4rem;
    img {
        border: 2px solid $body-color;
    }
}

.footer{
    position: relative;
    bottom: 1.25rem;
    color: $alt-color;
    border-top: 3px solid $accent;
    background-color: $alt-bg;
    p {
        padding-top: 1.25rem;
    }
    .social-icons {
        li {
            display: inline-block;
            list-style: none;
            a {
                padding: 0.75rem 1rem;
                text-align: center;
                transition: color 0.2s ease-in;
                &:hover {
                    color: $accent;
                }
            }
        }
    }
}

.mat-card {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $body-color;
    background-color: $alt-bg;
    .mat-card-header-text {
        margin: 0rem 0.5rem;
    }
}

.filter-card {
    .mat-card-header-text {
        margin: 0rem;
    }
}
