/*
 *   You can add global styles to this file, and also import other style files
 */
@import './src/app/styles/material.scss';
@import './src/app/styles/_colors.scss';
@import '~bootstrap/scss/bootstrap';
@import './src/app/styles/ppropertyui.scss';

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
